doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
<<<<<<< HEAD
<<<<<<< HEAD
    title farm presentasi
=======
<<<<<<< HEAD
    title test
=======
    title test1
>>>>>>> 1f0dc8937954758dbcd6a156bf6ee62d93415283
>>>>>>> 64c4a457c52eba91d830914358a92c8cd1372f7c
=======
    title farm presentasi
>>>>>>> 8a218b86bc6703ddac01fe9c00af776ae4591e30

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

<<<<<<< HEAD
<<<<<<< HEAD
      section
        h1 farm presentasi
=======
<<<<<<< HEAD
      section
        h1 test
>>>>>>> 64c4a457c52eba91d830914358a92c8cd1372f7c

      section
        h2 Keyboard Interaction
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-keys">bespoke-keys</a>

      section
        h2 Touch Interaction
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-touch">bespoke-touch</a>

      section
        h2 Responsive Slides
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-scale">bespoke-scale</a>

      section
<<<<<<< HEAD
=======
=======
      section.a
        h1 test1
      section.a
        h2 Keyboard Interaction
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-keys">bespoke-keys</a>

      section.a
        h2 Touch Interaction
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-touch">bespoke-touch</a>

      section.a
        h2 Responsive Slides
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-scale">bespoke-scale</a>

      section.a
>>>>>>> 1f0dc8937954758dbcd6a156bf6ee62d93415283
>>>>>>> 64c4a457c52eba91d830914358a92c8cd1372f7c
        h2 Bullet List
=======
      section
        h1.a Sukses Di Waktu Muda???
      section
        h1 kenapa tidak??? 
        h2 here we go...       



      section
        h2 Keyboard Interaction
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-keys">bespoke-keys</a>

      section
        h2 Touch Interaction
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-touch">bespoke-touch</a>

      section
        h2 Responsive Slides
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-scale">bespoke-scale</a>

      section.bg
        h2.a Bullet List
>>>>>>> 8a218b86bc6703ddac01fe9c00af776ae4591e30
        h3.bullet Powered by <a href="https://github.com/markdalgleish/bespoke-bullets">bespoke-bullets</a>
        ul
          li Bullet 1
          li Bullet 2
          li Bullet 3

<<<<<<< HEAD
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 64c4a457c52eba91d830914358a92c8cd1372f7c
=======
>>>>>>> 8a218b86bc6703ddac01fe9c00af776ae4591e30
      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-backdrop">bespoke-backdrop</a>

      section
<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
      section(data-bespoke-hash='named-route').a
        h2 Named Route 
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section.emphatic-text(data-bespoke-backdrop='emphatic').a
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-backdrop">bespoke-backdrop</a>

      section.a
>>>>>>> 1f0dc8937954758dbcd6a156bf6ee62d93415283
>>>>>>> 64c4a457c52eba91d830914358a92c8cd1372f7c
=======
>>>>>>> 8a218b86bc6703ddac01fe9c00af776ae4591e30
        h2.bullet Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    script(src='build/build.js')