doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title farm presentasi

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body.a

    article

      section.ax
        h1 <a margin-bottom=-200em>Sukses Di Waktu Muda???</a>
      section.bx
        h1.bottom kenapa tidak??? <br>here we go... 
            



      section.cx<img src=/../images/think.jpg>
        h2 Singkirkan Pikiran Negatif 
        h3 Tantangan terbesar dalam perjalanan menuju kesuksesan adalah menguasai diri sendiri. Apa pun yang sedang anda lakukan, akan selalu ada saat di mana anda meragukan diri sendiri, mengalami konflik batin, serta ingin melakukan berbagai hal yang akan merintangi anda mencapai tujuan. 

      section.dx
        h2 Belajarlah dari Kesalahan Anda dan Posisikan Diri Untuk Menang
        h3 Kesempatan datang dan pergi. Kehidupan memiliki siklus yang datang dan pergi seperti ombak di lautan. Saat ketinggalan ombak, peselancar tidak membuang energi yang berharga dengan merasa kecewa. Ia belajar dari kesalahan, melakukan penyesuaian, dan memosisikan diri agar dapat memanfaatkan ombak berikutnya dengan sebaik-baiknya. Jadilah seorang peselancar kesempatan. Tempatkan diri pada posisi untuk menang.

      section
        h2  Kebiasaan Anda akan Mengembangkan atau Menghancurkan Anda
        h3 Kebiasaan anda akan membawa anda pada kegagalan atau kesuksesan. Itulah sebabnya berhubungan dengan para pemenang dan membaca buku yang tepat sangatlah penting. Anda akan seperti orang-orang dengan siapa anda berhubungan. Anda mengambil kebiasaan mereka. Dan kebiasaan menentukan hasil.

      section.bg
        h2 Jadilah Orang yang Bertindak
        h3.bullet 
        ul
          li 1.Berfokuslah pada apa yang bisa anda lakukan SEKARANG!
          li 2.Jangan menunggu hingga keadaan menjadi sempurna. Selesai lebih baik daripada sempurna.
          li 3.Gagasan saja tidak ada gunanya. Gagasan yang dilaksankan tak ternila harganya.
          li 4.Jangan menunggu hingga anda merasa ingin melakukan sesuatu. Segera bertindak akan membuat anda ingin bertindak lebih banyak lagi.
          li 5.Jangan membuang waktu dengan mempersiapkan diri untuk melakukan sesuatu. Segeralah mulai...

      section(data-bespoke-hash='named-route')
        h2 Bisakah anda melalukannya?
        h3 mari lakukan jangan ragu
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-backdrop">bespoke-backdrop</a>

      section
        h2.bullet Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    script(src='build/build.js')