doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title FARM Presentasi

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body.a

    article
      section 
        h1 <a margin-top=-48px>FARM</a>
        <br>FAHRI RIZKY 131112705 </br>
        <br>ANDY WIJAYA 131112683 </br>
        <br>RIDHO ADE PUTRA 131113778 </br>
        <br>MARYANDI ARITONANG 131112624 </br>


      section
        h1 <a>SUKSES DI WAKTU MUDA</a>
      section<img src=/../images/sukses4.jpg width=600px height=400px>
      section<img src=/../images/sukses2.jpg width=400px margin top=50px height=200px>
        h1 kenapa tidak...? <br>here we go...!!!
            



      section<img src=/../images/think.jpg>
        h2 Singkirkan Pikiran Negatif 
        h3 Tantangan terbesar dalam perjalanan menuju kesuksesan adalah menguasai diri sendiri. Apa pun yang sedang anda lakukan, akan selalu ada saat di mana anda meragukan diri sendiri, mengalami konflik batin, serta ingin melakukan berbagai hal yang akan merintangi anda mencapai tujuan. 
      section<img src=/../images/sukses3.jpg>
        h1 Kesalahan dan Kemenangan 
      section
        h2 Belajarlah dari Kesalahan Anda dan Posisikan Diri Untuk Menang
        h3 Kesempatan datang dan pergi. Kehidupan memiliki siklus yang datang dan pergi seperti ombak di lautan. Saat ketinggalan ombak, peselancar tidak membuang energi yang berharga dengan merasa kecewa. Ia belajar dari kesalahan, melakukan penyesuaian, dan memosisikan diri agar dapat memanfaatkan ombak berikutnya dengan sebaik-baiknya. Jadilah seorang peselancar kesempatan. Tempatkan diri pada posisi untuk menang.
      section<img src=/../images/sukses5.jpg>
        h2 KEBIASAAN
      section
        h2  Kebiasaan Anda akan Mengembangkan atau Menghancurkan Anda
        h3 Kebiasaan anda akan membawa anda pada kegagalan atau kesuksesan. Itulah sebabnya berhubungan dengan para pemenang dan membaca buku yang tepat sangatlah penting. Anda akan seperti orang-orang dengan siapa anda berhubungan. Anda mengambil kebiasaan mereka. Dan kebiasaan menentukan hasil.
      section<img src=/../images/sukses6.jpg width=400px>
        h1 Bertindak
      section
        h2 Jadilah Orang yang Bertindak
        h3.bullet 
        ul
          li 1.Berfokuslah pada apa yang bisa anda lakukan SEKARANG!
          li 2.Jangan menunggu hingga keadaan menjadi sempurna. Selesai lebih baik daripada sempurna.
          li 3.Gagasan saja tidak ada gunanya. Gagasan yang dilaksankan tak ternila harganya.
          li 4.Jangan menunggu hingga anda merasa ingin melakukan sesuatu. Segera bertindak akan membuat anda ingin bertindak lebih banyak lagi.
          li 5.Jangan membuang waktu dengan mempersiapkan diri untuk melakukan sesuatu. Segeralah mulai...

      section(data-bespoke-hash='named-route')
        h2 Bisakah anda melalukannya?
        h3 mari lakukan jangan ragu
        
      section<img src=/../images/sukses9.png width=500px height=200px>
        h2 Hal-hal Mendasar Yang Harus Anda Miliki Untuk Menuju Kesuksesan
      section
        h3.bullet
        ul
          li -Bermimpilah
          li -Lakukan Apa Yang Anda Cintai dan Mencintai Apa Yang Anda Lakukan
          li -Terus Belajar
          li -Selalu Bangkit Jika Terjatuh
       

      section.hx
        h2 Hidup Hanya Sekali, Oleh Karena Itu Harus Luar Biasa
      section<img src=/../images/thx1.jpg width=640px height=480px>

    script(src='build/build.js')